{% extends "app.twig" %}

{% block title %}About{% endblock %}

{% block content %}

    <!--====== Page Title Start ======-->
	<section class="page-title-area page-title-area-custom">
		<div class="container">
			<div class="row align-items-center justify-content-between">
				<div class="col-lg-12 text-center">
					<h1 class="page-title text-white">About</h1>
				</div>
			</div>
		</div>
	</section>
	<!--====== Page Title End ======-->

{% endblock %}