{% extends "app.twig" %}

{% block title %}Contact{% endblock %}

{% block pageStyles %}<link rel="stylesheet" href="{{ url('/assets/css/brandForm.css') }}">{% endblock %}

{% block content %}

    {% if hasMessages() %}
      {% if successMessage() %}
          <script>swal("Success!", "{{successMessage()}}", "success");</script>
      {% elseif errorMessage() %}
          <script>swal("Error!", "{{errorMessage()}}", "error");</script>
      {% endif %}
    {% endif %}
  <!--====== Page Title Start ======-->
	<section class="page-title-area page-title-area-custom">
		<div class="container">
			<div class="row align-items-center justify-content-between">
				<div class="col-lg-12 text-center">
					<h1 class="page-title text-white">Contact</h1>
				</div>
			</div>
		</div>
	</section>
	<!--====== Page Title End ======-->

  <div class="container my-5">
    
    <div class="contact-info-boxes">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-4">
                <div class="info-box text-center mb-sm-30 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="icon">
                        <i class="fas fa-users"></i>
                    </div>
                    <div class="info-content shadow rounder">
                        <h5>Follow Us</h5>
                        <div class="">
                            <a class="p-2"><i class="fab fa-facebook-square fa-2x"></i></a>
                            <a class="p-2"><i class="fab fa-instagram fa-2x"></i></a>
                            <a class="p-2"><i class="fab fa-twitter fa-2x"></i></a>
                            <a class="p-2"><i class="fab fa-linkedin fa-2x"></i></a>
                            <a class="p-2"><i class="fab fa-google fa-2x"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="info-box text-center mb-sm-30 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="icon">
                        <i class="far fa-envelope-open"></i>
                    </div>
                    <div class="info-content shadow rounder">
                        <h5>Email Us</h5>
                        <h4 class="brand-color">
                            <a class="brand-color" href="mailto:info@charity.com">info@charity.com</a>
                        </h4>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="info-box text-center wow fadeInUp" data-wow-delay="0.3s">
                    <div class="icon">
                        <i class="far fa-phone"></i>
                    </div>
                    <div class="info-content shadow rounder">
                        <h5>Call Us</h5>
                        <h4 class="brand-color">
                            <a class="brand-color" href="tel:6162910591">(616) 291-0591</a>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
      <div class="col-lg-12 mx-auto wow fadeInUp" data-wow-delay="0.4s">
        <div class="card flex-row my-5 border-0 shadow rounder overflow-hidden">
          <div class="card-img-left d-none d-md-flex">
            <!-- Background image for card set in CSS! -->
          </div>
          <div class="card-body p-4 p-sm-5 green-bg">
            <h5 class="card-title text-center mb-5 fs-5">Contact Us</h5>
            <form method="post">

              <div class="form-floating row">
                <div class="col-lg-6 col-sm-6 form-floating mb-3">
                  <input type="text" name="fname" class="form-control rounder" id="floatingInputFname" placeholder="First Name" required>
                  <label class="px-4" for="floatingInputFname">First Name</label>
                </div>
                <div class="col-lg-6 col-sm-6 form-floating mb-3">
                  <input type="text" name="lname" class="form-control rounder" id="floatingInputLname" placeholder="Last Name" required>
                  <label class="px-4" for="floatingInputLname">Last Name</label>
                </div>
              </div>

              <div class="form-floating mb-3">
                <input type="email" name="email" class="form-control rounder" id="floatingInputEmail" placeholder="Email" required>
                <label for="floatingInputEmail">Email</label>
              </div>

              <div class="form-floating mb-3" id="protector">
                <input type="text" name="protector" class="form-control rounder" id="testingInput" placeholder="testing">
                <label for="testingInput">testing</label>
              </div>

              <div class="form-floating mb-3">
                <textarea rows='5' name="message" type="text" class="form-control btn-chubby one-hundred" id="floatingInputMessage" placeholder="Message" required></textarea>
                <label class="p-4" for="floatingInputMessage">Message</label>
              </div>

              <div class="">
                <button class="btn main-btn float-right max-fifty" type="submit">
                  Send
                  <i class="far fa-arrow-right"></i>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block pageScripts %}<script src="{{ url('/assets/js/login.js') }}"></script>{% endblock %}
